{% extends "base.html" %}
{% block body %}
    {% if created %}
        <button label="Title">{{survey.title}}</button>
        <blockquote>{{survey.desc}}</blockquote>
        <a href="{% url 'dyform:edit_survey' survey.id %}"> Edit the Form</a>
    {% else %}
     <form class="form-horizontal" role="form" action="/dyform/create/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success" value="Submit">Submit</button>
    </form>
    {% endif %}
{% endblock %}