{% extends 'base.html' %}
{% load staticfiles %}


{% block body %}
<script>
form_count = Number($("[name=extra_question_count]").val());
// get extra form count so we know what index to use for the next item.
$("#add-another").click(function() {
    form_count ++;

    element = $('<input type="text"/>');
    element.attr('name', 'extra_question_' + form_count);
    $("#forms").append(element);
    // build element and append it to our forms container

    $("[name=extra_question_count]").val(form_count);
    // increment form count so our view knows to populate 
    // that many fields for validation
})
</script>
<form action="{% url 'dyform:edit_survey' survey.id %}" method="post">
    {% csrf_token %}
<div id="forms">
    {{ form.as_p }}
</div>
<button id="add-another">add Question</button>
<input type="submit" />
</form>
{% endblock %}